.main {
  max-width: 1280px;
  margin: 0 auto;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}
/* ektrik btau */
.link{
  text-decoration: none;
  list-style: none;
  color: aliceblue;
  font-weight: 700;
}



.right{
  /* background: red; */
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.right button{
  max-width: 200px;
margin: 0 auto;
height: 40px;
max-width: 100%;
width: 300px;
font-size: 1.5rem;
list-style: none;
color: white;
background: #242424;
justify-content: end;
border-radius: 10px;

}

.right h1{
  max-width: 100%;
font-size: 100px;
/* color: #000;  */
}
/* ruk aaya batroom se */




.social-link-list{
  position: fixed;
  bottom: .05%;
  width: 100%;
  display: flex;
  place-content: center;
  /* flex-direction: row; */
  gap: 10px;
  
  padding: 2px;
}


.social-link-list i{
  font-size: 1rem;
  color: white;
}


i:hover{
  color: #585858 ;
  font-size: 1.8rem;
}

@media screen and (max-width:768px) {
  .main {
   
    display: grid;
    grid-template-columns: 1fr;
  
  }

  .right{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .right h1{
    max-width: 100%;
  font-size: 50px;

  /* color: #000;  */
  }
  
}